* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: cadetblue;
    --light-color: #e6cece;
    --dark-color: #333;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5; /* line-spacing */
    background: #faf5ed; /* background color is white */
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

pre {
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    margin-right: 25px;
}


.hero {

}

.user-interaction {

}

.stock-display {

}


@media (max-width: 1000px) {

}
@media (max-width: 800px) {

}
@media (max-width: 500px) {

}
@media (max-width: 350px) {

}